/*==========================
  RESPOSIVE CSS CODE
===========================*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
   
  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {
   
     /*---dashboard home start ----*/
     .header-title{
      gap: 0px!important;
     }
     .header-title h4{
      font-size: 14px;
     }
     .dashboard-heading{
      display: none;
     }
     .header-search input {
       padding: 2px 2px; 
     }
     .header-search i{
      display: none;
     }
     .dashboard-mini-chart{
      margin-bottom: 20px;
     }
     .table-sm  {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      width: 100%;
  }
     /*---dashboard home end----*/
     .top-filter-area{
      flex-wrap: wrap;
      gap: 25px;
     }
     .project-top{
      margin-top: 20px;
     }
     .app-productivty small{
      padding: 10px;
     }
     .time-format-wrapper{
      justify-content: space-between;
     }

     .board-project-task {
      width: 100%!important;
    }
    .screenshot-image{
      margin-bottom: 12px;
    }
    /*project*/
    .report-left form{
      flex-wrap: wrap;
    }
   .project-report select,.project-report input{
    margin-bottom: 12px;
   }
   /*attendance*/
   .report-right{
    width: 100%!important;
   }
  }
  
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) {
    
    .navbar-item {
     display: none;
  }
  .right-toggle{
    display:block;
}

  }
  
  @media (max-width: 1199.98px) {
    
  }
  /* X-Large devices (large desktops, less than 1400px) */
  @media (max-width: 1399.98px) {
   
  }
  
  